{{!< layout}}
<header class="aui-page-header" style="width: 97%; border-bottom: 1px solid #ccc;">
    <div class="aui-page-header-inner">
	<div class="aui-page-header-image">
            <span class="aui-avatar aui-avatar-large aui-avatar-project">
                <span class="aui-avatar-inner">
                    <img alt src="https://abc.jpeg">
                </span>
            </span>
        </div>
        <div class="aui-page-header-main">
            <h1 class='title' style="font-size: 24px;">{{title}}</h1>
        </div>
    </div>
</header>
